@model IEnumerable<InspirateMobileWeb.Models.Oferta>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Solicitação de Serviço de Remoção:</h1>

<p>
    <a asp-action="Cadastrar">Novo</a>
    <a asp-action="Index" asp-controller="Home">Voltar</a>
</p>
<table class="table table-sm table-dark text-center">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Id)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DescricaoTipoOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                Detalhes
            </th>
            <th>
                Selecionar
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoTipoOferta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesricaoSituacao)
            </td>
            <td>
                <button type="button" class="btn btn-primary" action="Detalhes" >Detalhes</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary">Selecionar</button>
            </td>
            <td>
                @* @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @* @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
        }
    </tbody>
</table>
